<!DOCTYPE html>
<html lang="en">
<head>
	<title> List Film</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/film.css" rel="stylesheet">
</head>
 <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Film List App</h1>
        <form class="form-addfilm">
        <label for="inputFilmName" class="sr-only">Film Name</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Film Name" required autofocus>
        <label for="inputDirector" class="sr-only">Director</label>
        <input type="text" name="director" id="director" class="form-control" placeholder="Director" required autofocus>
        <label for="inputYear" class="sr-only">Year</label>
        <input type="text" name="year" id="year" class="form-control" placeholder="Year" required>
         
        <button id="btnAddFilm" class="btn btn-lg btn-primary btn-block" type="button">Ok</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2018</p>
      </footer>
 
    </div>
	<script src="../static/js/jquery-3.3.1.js"></script>
	<script src="../static/js/app.js"></script>
  </body>
</html>