<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta http-equiv=“Content-Security-Policy” content=“default-src ‘self’ gap://ready file://* *; style-src ‘self’ ‘unsafe-inline’; script-src ‘self’ ‘unsafe-inline’ ‘unsafe-eval’”/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Langbiang Forest Monitoring System</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.css">
    <link rel="stylesheet" href="../static/css/leaflet.groupedlayercontrol.css">
    <link rel="stylesheet" href="../static/css/app.css">	
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/favicon-152.png">
    <link rel="icon" sizes="196x196" href="../static/img/favicon-196.png">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
	
	<style>	
		.gitButton{
			padding:15px 30px;
			background-color: #47a230;
			text-decoration: none;
			font-weight: 900;
			color: white;
			text-transform:uppercase;
			transition: background-color .5s;
			border: none;
    		border-radius: 2px;
    		cursor: pointer;
		}
		.gitButton:hover {background-color: #1d7806}
		.gitButton:visited {color: white;}
		.manualButton {
			padding:15px 30px;
			background-color: #308ba2;
			margin-left: 40px;
			text-decoration: none;
			font-weight: 900;
			color: white;
			text-transform:uppercase;
			transition: background-color .5s;
			border: none;
    		border-radius: 2px;			
    		cursor: pointer;
		}
	</style>
    
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-icon-container">
            <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
            <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i class="fa fa-search fa-lg white"></i></a>
          </div>
          <a class="navbar-brand" href="#">Hệ thống giám sát rừng Langbiang</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group has-feedback">
                <input id="searchbox" type="text" placeholder="Search" class="form-control">
                <span id="searchicon" class="fa fa-search form-control-feedback"></span>
            </div>
          </form>
          <ul class="nav navbar-nav">
				<li class="hidden-xs"><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="list-btn"><i class="fa fa-list white"></i>&nbsp;&nbsp;Danh sách</a></li>			
				<li class="dropdown">				
				<li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="login-btn"><i class="fa fa-user"></i>&nbsp;&nbsp;Đăng nhập</a></li>
				<li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="about-btn"><i class="fa fa-question-circle white"></i>&nbsp;&nbsp;Thông tin</a></li>
				</li>				            
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div id="container">
      <div id="sidebar">
        <div class="sidebar-wrapper">
          <div class="panel panel-default" id="features">
            <div class="panel-heading">
              <h3 class="panel-title">Tìm kiếm
              <button type="button" class="btn btn-xs btn-default pull-right" id="sidebar-hide-btn"><i class="fa fa-chevron-left"></i></button></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-8 col-md-8">
                  <input type="text" class="form-control search" placeholder="Filter" />
                </div>
                <div class="col-xs-4 col-md-4">
                  <button type="button" class="btn btn-primary pull-right sort" data-sort="feature-name" id="sort-btn"><i class="fa fa-sort"></i>&nbsp;&nbsp;Sắp xếp</button>
                </div>
              </div>
            </div>
            <div class="sidebar-table">
              <table class="table table-hover" id="feature-list">
                <thead class="hidden">
                  <tr>
                    <th>Icon</th>
                  <tr>
                  <tr>
                    <th>Name</th>
                  <tr>
                  <tr>
                    <th>Chevron</th>
                  <tr>
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div id="map"></div>
    </div>
    <div id="loading">
      <div class="loading-indicator">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info progress-bar-full"></div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Hệ thống giám sát rừng tự động</h4>
          </div>
		  <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
		 </div>
        </div>          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->    

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Đăng nhập</h4>
          </div>
          <div class="modal-body">
            <form id="login"  data-toggle="validator">
              <fieldset>
                <div class="form-group">
                  <label for="name">Tên đăng nhập:</label>
                  <input type="text" class="form-control" id="loginUsername" name="loginUsername" required>
                </div>
                <div class="form-group">
                  <label for="password">Mật khẩu:</label>
                  <input type="password" class="form-control" id="loginPassword" name="loginPassword" required>
                </div>
              </fieldset>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
				<button type="submit" id="btn-login" class="btn btn-primary" >Đăng nhập</button>
			  </div>
            </form>
          </div>
			<div class="modal-footer">				
				<button class="btn btn-primary bg-green" id="signup-btn" data-dismiss="modal">Đăng ký tài khoản</button>
			</div>			
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	<div class="modal fade" id="sigupModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Đăng ký tài khoản</h4>
          </div>
          <div class="modal-body">
            <form name="signup" id="signup" data-toggle="validator">
              <fieldset>
                <div class="form-group">
                  <label for="name">Tên đăng nhập:</label>
                  <input type="text" class="form-control" id="signupUsername" name="signupUsername" required>
				  <div class="help-block with-errors"></div>
                </div>
				<div class="form-group">
                  <label for="signupEmail">Email:</label>
                  <input type="email" class="form-control" id="signupEmail" placeholder="Email" name="signupEmail" data-error="Email address is invalid" required>
				  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <label for="password">Mật khẩu:</label>
                  <input type="password" data-minlength="6" class="form-control" id="signupPassword" name="signupPassword" required>
				  <div class="help-block">Minimum of 6 characters</div>				  
                </div>
				<div class="form-group">
                  <label for="password">Nhập lại mật khẩu:</label>
                  <input type="password" class="form-control" id="signupRepassword" data-match="#signupPassword" data-match-error="Password, these don't match" placeholder="Confirm" required>
				  <div class="help-block with-errors"></div>
                </div>
              </fieldset>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
				<button type="submit" id="btn-signup" class="btn btn-primary" >Đăng ký</button>
			  </div>
            </form>
          </div>          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="featureModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-primary" id="feature-title"></h4>
          </div>
          <div class="modal-body" id="feature-info"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="attributionModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">              
			  Hệ thống giám sát rừng tự động FSM 2018 <br>
            </h4>
			<h4 class="modal-title">              
			  Khu vực giám sát: Langbiang - Lâm đồng <br>
            </h4>
			<h5 class="modle-tiles">
				Nhóm nghiên cứu giám sát rừng KATA - Đại học Lâm Nghiệp Việt Nam<br>
				Địa chỉ:Xuân Mai, Chương Mỹ, Hà Nội <br>
				Điện thoại: 0933.409.566 <br>
				Email: thangpn@vfu.edu.vn <br>
			</h5>
          </div>
          <div class="modal-body">
            <div id="attribution"></div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js"></script>
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script src="../static/js/leaflet-bing-layer.js"></script>
    <script src="../static/js/leaflet.groupedlayercontrol.js"></script>
	<script src="../static/js/bundle.js"></script>
    <script src="../static/js/app.js"></script>
	<script src="../static/js/system.js"></script>
	
	
  </body>
</html>
